.landing {
    display: flex;
    margin: 0;
}


/* Section Left */

.landing-left {
    width: 70%;
    height: 100vh;
}

.tipify-container {
    padding: 30px 50px 30px 50px;
    background-color: #F5F5F5;
    font-family: 'bm';
    font-size: 24px;
    margin: 80px;
    border-radius: 10px;
}

.button-v {
    padding-left: 6px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: 'bm';
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tipify-container input {
    padding-left: 6px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: 'bm';
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-c {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-size,
.tooltip-width,
.padding,
.arrow-width,
.arrow-height,
.corner-radius {
    width: 45%;
}

/* Section Right */

.landing-right {
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-screen {
    background-color: #000000;
    height: 700px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-screen {
    background-color: #808080;
    height: 670px;
    width: 320px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.inner-screen button {
    font-family: 'bm';
    font-size: 20px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100px;
}

.inner-screen-item {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.tooltip-container:nth-child(4) .above, .tooltip-container:nth-child(5) .above{
    position: absolute;
    margin-top: -100px;
}

.tooltip-container:nth-child(4) .above .tooltip-arrow, .tooltip-container:nth-child(5) .above .tooltip-arrow{
    
    transform: rotate(180deg);
    margin-top: 110px;
}
.tooltip-container:nth-child(3) .above{
    position: absolute;
    margin-bottom: 250px;
}
.tooltip-container:nth-child(3) .above .tooltip-arrow{
    transform: rotate(180deg);
    margin-top: 100px;
}

.tooltip-container {
    width: 50%;
}
.tooltip-container:nth-child(2),.tooltip-container:nth-child(5),.tooltip-container:nth-child(1),.tooltip-container:nth-child(4){
    height: 10%;
}
.tooltip-container:nth-child(1),.tooltip-container:nth-child(4){
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.tooltip-container:nth-child(2),.tooltip-container:nth-child(5){
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.tooltip-container:nth-child(3) {
    height: 80%;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tooltip-container:nth-child(3) .tooltip-e{
    display: flex;
    justify-content: center;
    width: 100%;
}
.tooltip-container:nth-child(2) .tooltip-e,.tooltip-container:nth-child(5) .tooltip-e{
    display: flex;
    justify-content: right;
    width: 100%;
}

.button-e {
    width: 100%;
}



.custom-tooltip {
    position: absolute;
    background-color: #000000;
    border-radius: 10px;
    color: #F5F5F5;
    padding: 10px;
    font-family: 'bm';
    width: 100px;
    height: 80px;
    
}
.flex-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.left-t{
    width: 30%;
    margin-right: 10px;
}
.left-r{
    width: 70%;
}
.tooltip-img{
    height:30px;
    width: 30px;
    border-radius: 50%;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000000;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width:768px) {
    .landing {
        display: block;
    }

    .tipify-container {
        font-size: 18px;
        padding: 15px;
        margin: 25px;
    }

    .landing-left {
        width: 100%;
        height: 100%;
    }

    .landing-right {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .tipify-container input {
        font-size: 16px;
    }

    .button-v {
        font-size: 16px;
    }
}